#footer {
    background: #1A237E;
    padding: 0 0 0 0;
    color: #eee;
    font: 14px;
}

#footer .footer-top{
    background: #3F51B5;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 60px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 3px;
    /* text-transform: uppercase;  8219  8357 */
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
}

#footer .footer-top .footer-info a {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
}

#footer .footer-top .footer-info a:hover {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #a0c8f5;
}

#footer .footer-top .social-links a {
    font-size: 25px;
    display: inline-block;
    background-attachment: #007bff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #0067d5;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
    color: #74b5fc;
    font-size: px;
}

#footer .footer-top .footer-location {
    margin-bottom: 30px;
}

#footer .footer-top .footer-location p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 10px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
}
 
#footer .credits a {
    color: #bfddfe;
}

#footer .credits a:hover{
    color: #f1f7ff;
}

/*
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer {
    width: 100%;
    background: #00121b;
    display: block;
}

.inner-footer {
    width: 95%;
    padding: 30px 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;

} */